*{
    padding: 0;
    margin: 0;
}

body{
    background: lightsteelblue !important;
}
input[type=checkbox]:checked {
    font-weight: bold !important;
    color: red !important;
}




@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 543px !important;
}

  }